<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oauth App</title>
  </head>

  <body>
    <h3>Frameworking Express with TypeScript 5.0 Decorators</h3>
    <% if (session) { %>
    <p>You are logged in</p>
    <hr />
    <a href="/protected">Go to protected Page</a> |
    <a href="/auth/logout">Logout</a>
    <% } else { %>
    <p>You are not logged in</p>
    <hr />
    <a href="/auth/login">Go to login page</a>
    <% } %>
  </body>
</html>
